#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}


svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.infinite-scroll-content {
  text-align: center;
  padding: 20px 0;
}

.search-form {
  position: fixed;
  width: 90vw;
  margin: 0 50px 0 90px;
  height: fit-content;
  z-index: 2000;
  background: transparent;
}
.mapContainer {
  position: relative;
  height: 98%;
  overflow: hidden;
  margin-bottom: 50px;
}

.directory-grid {
  margin-top: 20px;
}

.directory-pager {
  position: fixed;
  top: 35vh;
  right: 20px;
  z-index: 1000;
  background: #ffffffd1;
  padding: 10px;
}

.directory-pager button {
  margin: 0 10px;
}

.itemSelected {
  background-color: #d4edda; /* light green, for example */
}

.itemSelected ion-item {
  --background: #ebf8ee;
}

.itemSelected ion-item ion-button {
  display: none;
}

.itemNormal {
  background-color: white; /* or whatever default */
}

ion-list {
  overflow-y: scroll;
  height: 90%;
}